[submodule "anlagen/gpio_test"]
	path = anlagen/gpio_test
	url = git@github.com:KleinSpeedy/stm32_template.git
[submodule "anlagen/uart_test"]
	path = anlagen/uart_test
	url = git@github.com:KleinSpeedy/stm32_template.git
[submodule "anlagen/qemu_extension"]
	path = anlagen/qemu_extension
	url = git@github.com:KleinSpeedy/qemu-extension.git
[submodule "anlagen/qemu_edi"]
	path = anlagen/qemu_edi
	url = git@github.com:KleinSpeedy/qemu-extension.git
